@import "bourbon"
@import "sass/vars"
@import "sass/base"
@import "sass/libs"
@import "sass/tabs"

.wrapper
  background: url('img/background_haki.svg')
  background-size: cover

main
  h2
    text-align: center
    margin-bottom: .5em
  section
    margin: 1em 0 2em 0

.packages
  &-package
    text-align: left
  h3
    font-size: 2em
    font-weight: 600
  .cost
    font-size: 3em
    font-weight: 900
  .rub
    font-size: 2em
    font-weight: 100
    margin-left: 3px
  .length
    font-size: 1.25em
    font-weight: 500
ul > li
  color: #606060


@import "sass/call-form"

.call-button
  color: $color-dark
  background-color: #fff
  border-color: $color-dark
  padding: 0
  display: block
  text-align: center
  &:hover
    background-color: rgba(#333, 0.3)
  @media only screen and (min-width: 992px)
    font-size: 2.5em

@import "sass/footer"