@import "bourbon"
@import "sass/vars"
@import "sass/base"

//First screen styles

header
  text-align: center
  background-color: $color-dark
  background: url('./img/background_1.jpg') center no-repeat
  background-size: cover
  color: white
  padding: 2em
  min-height: 100vh
  height: 100%
  display: flex
  justify-content: space-between
  flex-direction: column
  width: 100%
  .nav-mobile, .nav-large
    margin-bottom: 1em
  .nav-mobile
    position: relative
    display: none
    nav
      position: absolute
      top: 0
      margin-left: -1px
      background-color: $color-dark
      z-index: 100
      a
        text-align: left
        padding: .5em 1em
        display: block
        width: auto
        &:hover
          border: 0
          margin: 0
          background-color: rgba(white, 0.05)
    .active
      border: 0
      background-color: rgba(white, 0.1)

  .nav-large
    padding: 0
    margin: 0
    justify-content: space-between
    font-weight: 900
    #logo
      width: 20%
      height: 20%
      order: 1
    a
      order: 1
      font-size: 1.25em
      font-weight: 600
      align-self: center
      text-decoration: none
      color: white
      &:visited
        color: white
      &:hover
        margin-bottom: -1px
        border-bottom: 1px solid #AAA
    .active
      border-bottom: 1px solid white
  .main-title
    text-align: center
    h1
      font-weight: 900
      font-size: 2.5em
      padding-bottom: 0
      margin-bottom: .25em
  .uto
    text-align: left
    display: -webkit-flex
    display: -ms-flex
    display: flex
    line-height: 1.4em
    font-size: 1.5em
    flex-direction: column
    justify-content: space-between
    margin-bottom: 1rem
    p
      margin: .25em
  .form-wrapper
    margin-bottom: 1em
.phonenumber
  font-size: 1.5em
  font-weight: 300


@import "sass/call-form"
