@import "bourbon"
@import "sass/vars"
@import "sass/base"
@import "sass/libs"

h2
  margin: 1em 0
  text-align: center

.diplomas
  text-align: center
  margin: .5em 0
  img
    width: 32%
    height: auto

.carouselPhotos
  margin: 1em 0
  width: 100%
  &-item
    margin: auto
    width: 100%
    max-height: 45em
  div:focus
    outline: none
  img
    width: 100%
    height: auto
  .slick-next, .slick-prev
    &:before
      color: $color-red
@media only screen and (min-width : 992px)
  .carouselPhotos
    width: 80%
    margin: 1em auto

@import "sass/footer"
