@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  #logo
    order: 0
  .main-title
    margin-bottom: 1em !important


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .nav-large
    display: none
  .nav-mobile
    display: flex !important
    justify-content: flex-start
    align-items: center
    .logo
      flex-basis: 60%
      display: block
      &::after
        content: ''
        flex-basis: 20%
    #logo
      width: 100%
    .fa-navicon
      flex-basis: 20%
      font-size: 2em
      display: block
      text-align: left
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  body
    font-size: 14px
    h2
      font-size: 2em
    h3
      font-size: 1.125em
      font-weight: 600
  header
    min-height: 100vh !important
    height: 100%
    h1
      font-size: 1.75em !important
    .phonenumber
      font-size: 1em
    .uto
      font-size: .75em
  main
    padding: .5em
  footer
    min-height: 100vh
    font-size: 0.75em
    padding: 1em
    .offer
      h2
        font-size: 1.5em !important
    .phonenumber
      font-size: 1em
  form
    padding: 1em
    input
      margin-bottom: 1em
      &::-webkit-input-placeholder
        font-size: 12px
      &::-moz-placeholder
        font-size: 12px
      &:-moz-placeholder
        font-size: 12px
      &:-ms-input-placeholder
        font-size: 12px
    button
      font-size: 1.25em
    .footer
      padding: 0
      h4
        font-size: 0.75em
      a
        font-size: 0.5em


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .container
    width: 1400px
  .col-md-24
    flex: 0 0 20%
    max-width: 20%

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .advantages
    h3
      font-size: 2em
  .advantage
    line-height: 1.6
    margin-bottom: 2em

@media only screen and (max-height: 700px)
  .main-title
    h1
      font-size: 2em !important
      line-height: 1.4
    .phonenumber
      font-size: 1.25em
  .uto
    margin-bottom: 0
  form
    padding: 1em
    margin-bottom: 0
    button
      font-size: 2em
