@import "bourbon"
@import "vars"
@import "libs"

//Custom styles here
.wrapper
  background: url("../img/background_haki.svg")
main
  padding: 2em 0
  overflow-x: hidden
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
  background-color: #fff
  section
    text-align: center
    padding: 4em 0
    h2
      margin-bottom: 1em

.about_lasertag
  div
    align-self: center
  img
    width: 100%
    height: auto
    border: 4px solid $color-dark
  blockquote
    text-align: left
    border-left: 4px solid $color-dark
    padding: 1em 1em 1em 2em
    margin: 0
    height: auto
    align-self: center
    background-color: rgba($color-dark, 0.05)
    abbr
      border-bottom: 1px dashed  lighten($color-dark, 40%)
    p
      padding: .5em 0
    .from
      font-style: italic
      font-size: 14px
      text-align: right
      color: lighten($color-dark, 40%)
  .name
    border: 3px solid $color-dark
    margin-top: -11px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 4em
  .more-info
    background-color: $color-dark
    color: white
    padding-bottom: .25em
.advantages
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: space-betweeen
  flex-direction: column
  h3
    font-size: 1.75em
    margin: .5em 0 .25em 0
.advantage
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  margin-bottom: 1.5em
  line-height: 1.2
  &-icon
    height: 10em

.services
  .service
    // transition: all .1s ease-out
    padding-top: 2.25em
    &-name
      border: 3px solid $color-dark
      margin-top: -7px
      display: -webkit-flex
      display: -ms-flex
      display: flex
      flex-direction: column
      justify-content: center
      min-height: 4em
    &:hover
      padding-top: 0
      & > .more-info
        display: block
    .more-info
      background-color: #333
      color: white
      display: none
      padding-bottom: .25em
  h3
    line-height: 1.2
    font-size: 1.25em
    font-weight: 500
    width: 100%

a
  font-size: 1.25em
  font-weight: 400
  align-self: center
  text-decoration: none
  color: white
  &:visited
    color: white
  &:hover
    margin-bottom: -1px
    border-bottom: 1px solid #AAA

.carouselPhotos
  margin-top: 2em
  &-item
    width: 100%
    max-height: 45em
  div:focus
    outline: none
  img
    width: 100%
    height: auto

footer
  display: flex
  text-align: center
  background-color: $color-dark
  background: url('../img/background_2.jpg') center no-repeat
  background-size: cover
  height: 100vh
  color: white
  padding-top: 2em
  flex-direction: column
  justify-content: space-around
  align-items: center
  overflow: hidden
  .offer
    flex-shrink: 3
    margin-bottom: 1em
    h2
      font-size: 2em
    section
      margin-bottom: 1em
  .footer
    flex-shrink: 1
    h4
      margin: .25em 0
    a
      font-size: 1em

@import "footer"
@import "media"
